


/*Desktop*/
@media screen and (min-width: 800px){


    header {
        text-align: center;
    }

    .h2{
        margin-top: -3%;
        margin-left: 3.5%;
    }

    

    .container p{
        margin-left: 3em;
        width: 80%;
    }

    #section{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

    }

    .article{
        width: 30%;
        box-shadow: 0 0 6px 3px #dda0dd;
        text-align: center;
        margin-bottom: 5em;
        border-radius: 60px;
    }

    .img{
        width: 150px;
    }

    .button{
        border-radius: 6.5%;
        font-size: 20px;
        background-color: plum;
        color: white;
        border: none;
       
    }

    .button:hover{
        font-size: 23px;
    }

    nav li{


        text-align: center;
        margin-bottom: 5em;
        list-style: none;
    }

    nav ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }


    nav li a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: medium;
        background-color: white;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        
    }

    nav a:hover{
        border: #dda0dd;
        padding: 14px 20px;
        height: 18%;
        width: 95%;
        color: white;
        background-color: plum;
        border-radius: 50%;
        font-size: medium;
        
    }
    
    .imgShoppingIcon{
        margin-left: 92%; 
        margin-bottom: 10vh;
       
    }

          
    #divCounter{
        position: absolute;
        top: 14%;
        right: 6%;

        height: 5px;
        width: 13px;
        text-align: center;
        border-radius: 50%;
        color: whitesmoke;
        font-size: large;
        background-color:plum;
        padding: 10px 6px;
        display: inline-block;
        display: flex;
        align-items: center; 
        justify-content: center;
    }

  

    .linkAdmin{
        float: right;
        text-decoration: none;
        color: white;
        font-size: large;

    }
    

    .jewelryCss {
        display: none;
    }

    .womenCss {
        display: none;
    }

    .menCss {
        display: none;
    }

    .elCss {
        display: none;
    }

    .sectionCss {
        display: none;
    }

    .admin{
        text-align: center;
    }

    .checkout{
        text-align: center;
    }

    .adminButton{
        
        margin-left: 90%;

        font-size: large;
        text-decoration: none;
        padding: 14px 20px;
        color: whitesmoke;
        background-color: plum;
        border-radius: 5%;
    }

    .parentAdmin{
        display: flex;
        justify-content: center;
    }

    .formAdmin{
        border-radius: 5%;
        width: 100%;
        background-color: #dda0dd;
        text-align: center;
       
    }

   .adminJs{
        
        text-align: center;

        width: 110%;
        box-shadow: 0 0 6px 3px #dda0dd;
        margin-bottom: 5em;
        border-radius: 45px;
    }
    
    .sectionAdmin{
        display: flex;
        justify-content: center;
    }


    .buttonBuy{
        padding: 20px 15px;
        width: 100%;
        border-radius: 10%;
        font-size: large;
        color: whitesmoke;
        border:#dda0dd;
        background-color: plum;
    }

    .divCheckout{
       display: flex;
       justify-content: center;
       margin-top: 10%;
       
    }

    .endText{
     text-align: center;
    }

    .totalPrice{
     font-size: large;
    }

    #sectionC{
        display: flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items: flex-end; 
        
    }

    .h2Checkout{
        text-align: center;
    }

    .articleCheckout{
        text-align: center;
        
        width: 20%;
        box-shadow: 0 0 6px 3px #dda0dd;
        margin-bottom: 5em;
        border-radius: 15px;
    }

    .emptyText{
        margin: 0 auto;
       font-size: x-large;
       text-decoration: underline;
       text-align: center;
    }

    .iconTrash:hover{
        background-color: #dda0dd;
        border-radius: 10%;
        width: 15%;
        font-size: large;
    }
   
    .imageLogo{
        width: 500px;
    }

    .imageLogoAdmin{
        width: 500px;
    }

    .imagelogoCheckout{
        width: 500px;
    }

    #menSection{
      
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
       
    }

    .articleMens{
        width: 30%;
        box-shadow: 0 0 6px 3px #dda0dd;
        text-align: center;
        margin-bottom: 5em;
        border-radius: 60px;
    }

    #womenSection{
      
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
       
    }

    .articleWomens{
        width: 30%;
        box-shadow: 0 0 6px 3px #dda0dd;
        text-align: center;
        margin-bottom: 5em;
        border-radius: 60px;
    }

    #jewelry2{
      
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
       
    }

    .articleJewelry{
        width: 30%;
        box-shadow: 0 0 6px 3px #dda0dd;
        text-align: center;
        margin-bottom: 5em;
        border-radius: 60px;
    }

    #electronicSection{
      
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
       
    }

    .articleElectronic{
        width: 30%;
        box-shadow: 0 0 6px 3px #dda0dd;
        text-align: center;
        margin-bottom: 5em;
        border-radius: 60px;
    }

    .rating{
        color: #8b8888;
    }

    .policy{
        text-align: center;
    }

    .imagelogoPolicy{
        width: 500px;
    }


    .bodyP{
        text-align: center;
    }

    .textP{
       margin: 0 auto;
       width:50%;
       line-height: 150%;
    }
}